six==1.11.0
matplotlib==2.1.0
networkx==2.0
pandas==0.20.3
Cython==0.27.3
h5py==2.7.1
numpy==1.13.3
seaborn==0.8.1
scikit_image==0.13.1
scipy==1.0.0
scikit_learn==0.19.1
tifffile==0.12.1
mrcfile==1.1.2
