---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  height: 100%;
  text-align: justify;
}

body {
    background: $white;
    font: 18px/1.4 $helvetica;
    color: $darkGray;
    height: 100%;
}

#envelope {
    width: 100%;
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 110px;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px;
  width: 100%;
}

.main-block {
    width: 30%;
    margin-left: 130px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;

    border-radius: 10px;
    border: 2px solid $turq2;
    background-color: $turq1;

    h1 {
        color: $turq2;
    }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 24px;
  a {
    color: inherit;
  }
}

h2 {
    font-size: 20px;
    width: 100%;
    background-color: $blue3;
    padding: 5px;
    padding-left: 20px;
    color: $white;

    a {
        color: $white;
    }
    a:hover {
        color: $blue1;
    }
}

h3 {
    font-size: 18px;
    width: 80%;
    background-color: $turq2;
    color: $white;
    padding-left: 10px;
}

h4 {
  font-size: 16px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
    cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
    cursor: pointer;
    max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $blue3;
  color: $white;
}

.masthead {
    padding-bottom: 10px;
  color: $white;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $white;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;

  a:hover {
      color: $blue1;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $lightGray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}


nav.header {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $white;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $lightGray;
    }
  }

  a:hover {
      color: $blue1;
  }
}

nav.toc
{
    position: absolute;
    background: $white;
    border: 1px solid $blue3;
    border-right-width: 10px;
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 10px;
    max-width: 200px;
    font-size: 12pt;
    ul {
        list-style-type: none;
        padding: 0px;
        padding-right: 20px;
        min-width: 200px;
        li {
            a {
                color: $blue3;
            }
        }
    }
}

article.page {
    margin-left: 220px;
}

//
// .main
//

div.overflow
{
    width: 100%;
    overflow: auto;
}

div.component
{
    width: 49%;
}

div.component.left
{
    float: left;
}

div.component.right
{
    float: right;
}

img {
    padding: 5px;
}

img[alt=left],
img[alt=left20],img[alt=left30],img[alt=left40],
img[alt=left50],img[alt=left60],img[alt=left70],
img[alt=left80]
{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

img[alt=right],
img[alt=right20],img[alt=right30],img[alt=right40],
img[alt=right50],img[alt=right60],img[alt=right70],
img[alt=right80]
{
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

img[alt=left], img[alt=right]       {width: 20%;}
img[alt=left20], img[alt=right20]   {width: 20%;}
img[alt=left30], img[alt=right30]   {width: 30%;}
img[alt=left40], img[alt=right40]   {width: 40%;}
img[alt=left50], img[alt=right50]   {width: 50%;}
img[alt=left60], img[alt=right60]   {width: 60%;}
img[alt=left70], img[alt=right70]   {width: 70%;}
img[alt=left80], img[alt=right80]   {width: 80%;}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: -80px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $blue3;
}

footer {
    min-height: 80px;
    padding-top: 10px;
    text-align: center;
    clear:both;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
